<!DOCTYPE html>
<html style="background-image: url('https://thumbs.gfycat.com/BriefFavoriteFlyingfox-size_restricted.gif') ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<%- include ('parts/authentication.ejs') -%>
<%- include ('parts/footer.ejs') -%>