<html style="background-image: url('https://thumbs.gfycat.com/BriefFavoriteFlyingfox-size_restricted.gif') ">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="/styles/index.css">
<script src="/scripts/index.js"></script>
<div class="my-button">
    <form action="/auth">
    <button class="button is-info is-rounded is-large custom-button"
     type="submit">Login With Discord</button>
    </form>
</div>
<%- include ('parts/footer.ejs') -%>