<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="/styles/index.css">
<%- include ('parts/header.ejs') -%> 
<section class="settings-hero hero">
    <div class="hero-body">
      <p class="title">
        Settings
      </p>
      <p class="subtitle">
        User Information / Subscriptions / Downloads
      </p>
    </div>
  </section>
<%- include ('parts/settingsInfo.ejs') -%>
<%- include ('parts/footer.ejs') -%>