<!DOCTYPE html>
<html style="background-image: url('https://thumbs.gfycat.com/BriefFavoriteFlyingfox-size_restricted.gif') ">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <nav class="level navMain">
            <form action="/auth/logout">
                <button class="logoutBtn is-rounded custom-button"type="submit">
                    Home
                </button>
            </form>
            <form action="/dashboard/settings">
                <button class="logoutBtn is-rounded custom-button"type="submit">
                    Settings
                </button>
            </form>
            <p class="level-item has-text-centered">
              <img src="https://i.pinimg.com/originals/d9/93/3c/d9933c4e2c272f33b74ef18cdf11a7d5.gif" alt="" style="height: 30px;">
            </p>
            <form action="/dashboard/quicktask">
                <button class="logoutBtn is-rounded custom-button"type="submit">
                    Quick Task
                </button>
            </form>
            <form action="/auth/logout">
                <button class="logoutBtn is-rounded custom-button"type="submit">
                    Logout
                </button> 
            </form>     
          </nav>    