<div class="setting-container is-rounded container is-max-desktop">
    <div class="setting-info is-rounded notification is-primary">
        <fieldset disabled>
            <div class="field">
              <label class="label">Discord Username</label> 
              <div class="control">
                <input class="input" type="text" placeholder=<%= username %>>
              </div>
            </div>
            <div class="field">
              <label class="label">License Key</label>
              <div class="control">
                <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
              </div>
            </div>
            <div class="field">
              <label class="label">Role</label>
              <div class="control">
                <input class="input" type="email" placeholder=<%= guilds %>>
              </div>
            </div>
        </fieldset> 
    </div>
</div>